{% extends "layout.html" %}{% block content %} {% for num in range(3) %}
<div class="row justify-content-center">
  {% for digit in range(5) %}
  <div class="col-2"><h1 id="{{num}}{{digit}}" class="text-center">0</h1></div>
  {% endfor %}
</div>
{% endfor %}
<div class="container pt-3">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h3 class="text-center" id="balance">Current Balance: $10000</h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3 class="text-center" id="currentbet">Current Bet: $10</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row pb-1">
            <div class="col-sm-6 col-lg-10">
              <div class="row">
                <div class="col">
                  <button
                    onclick="server.changeWager(1)"
                    type="button"
                    class="btn btn-success btn-block"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-lg-10">
              <div class="row">
                <div class="col">
                  <button
                    onclick="server.changeWager(0)"
                    type="button"
                    class="btn btn-danger btn-block"
                  >
                    -
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-6 col-sm-12">
          <div class="row">
            <button
              type="button"
              class="btn btn-primary btn-block"
              onclick="server.spin()"
            >
              SPIN
            </button>
          </div>
          <div class="row mt-1">
            <div class="col text-center pl-0">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-danger dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Change Volatility
                </button>
                <div class="dropdown-menu">
                  <button
                    class="dropdown-item"
                    id="2"
                    onclick="server.changeVolatility(3)"
                  >
                    0-3
                  </button>
                  <button
                    class="dropdown-item"
                    id="5"
                    onclick="server.changeVolatility(5)"
                  >
                    0-5
                  </button>
                  <button
                    class="dropdown-item"
                    id="1"
                    onclick="server.changeVolatility(10)"
                  >
                    0-10
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <h3 id="volatility">10</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content %}
